<!-- Footer -->
<footer
  class="bg-dark text-center text-white mt-0"
  style="padding-bottom: 60px"
>
  <app-bottom-navbar *ngIf="showFooter"></app-bottom-navbar>
  <div class="container p-4">
    <section class="mb-4">
      <a
        class="btn btn-outline-light btn-floating m-1"
        target="_blank"
        href="https://www.facebook.com/teamawessome/"
        role="button"
        ><i class="bi bi-facebook"></i
      ></a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        target="_blank"
        href="https://www.youtube.com/@TeamAwesomesozeith"
        role="button"
        ><i class="bi bi-youtube"></i
      ></a>
    </section>

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        The Team Awesome Sozeith, national cricket team, popularly referred to
        as the Shaheens, Yellow-Blue Shirts, Men in Yellow, and Cornered Tiger
        is administered by the Sozeith Cricket Forum(SCF). The team is a Full
        Member of the Jammu & Kashmir Cricket Administration, and participates
        in Test, One Day International (ODI) and Twenty20 International cricket
        matches.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright
    <a class="text-white text-decoration-none" href="#">Team Awesome Sozeith</a
    ><br />
    Developed By
    <a
      class="text-decoration-none"
      href="https://bilalparray.github.io/resume/"
      target="_blank"
      >Bilal Ahmad Parray</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
