<div class="container-fluid home-container">
  <div class="row">
    <div class="col-md-6 home-left">
      <h1>Team Awesome Sozeith</h1>
      <p>
        The Team Awesome Sozeith, national cricket team, popularly referred to
        as the Shaheens, Yellow-Blue Shirts, Men in Yellow, and Cornered Tiger
        is administered by the Sozeith Cricket Forum(SCF). The team is a Full
        Member of the Jammu & Kashmir Cricket Administration, and participates
        in Test, One Day International (ODI) and Twenty20 International cricket
        matches.
      </p>
      <div class="btn-div">
        <a
          class="btn btn-outline-info home-left-btn"
          href="https://www.facebook.com/teamawessome/"
          target="_blank"
        >
          Explore our Facebook Page
        </a>
      </div>
    </div>
    <div class="col-md-6 home-right">
      <img src="assets/images/home.png" alt="svg" class="img-fluid herosvg" />
    </div>
  </div>
</div>
<app-cards></app-cards>
<!-- <batting-order></batting-order> -->
<app-mom></app-mom>
