<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center my-3">
      <h1>Batting Order</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <h5 class="fw-bold text-center">New Batting Order</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S No</th>
              <th scope="col">Batting Order</th>
              <th scope="col">Total Score</th>
              <!-- New column for Total Score -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of battingOrderWithScores; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.totalScore }}</td>
              <!-- Display total score -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
