<!-- Profile Section Starts here -->
<div class="container-fluid m-0 p-0 profo" *ngIf="player">
  <div class="row">
    <div class="col-12 profile">
      <div class="imgdiv">
        <!-- Component HTML template -->
        <input
          type="file"
          (change)="onFileSelected($event)"
          style="display: none"
          #fileInput
        />
        <img
          [src]="'data:image/jpeg;base64,' + player.image"
          alt="Player Image"
          (error)="commonService.handleImageError($event)"
          (click)="fileInput.click()"
          style="cursor: pointer"
        />
      </div>
      <div class="name">
        <h1>{{ player.name }}</h1>
        <h6>{{ player.role }}</h6>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center">
    <div class="col-lg-6 col-12 col-sm-6 d-block">
      <div class="text-lg-start text-center pt-2 text-black ps-lg-2">
        <h2>Personal Information</h2>
        <div class="information">
          <table class="table text-black">
            <thead>
              <tr>
                <th>Born</th>
                <td>{{ player.born | date }}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Birth Place</th>
                <td>{{ player.birthplace }}</td>
              </tr>
              <tr>
                <th>Role</th>
                <td>{{ player.role }}</td>
              </tr>
              <tr>
                <th>Batting Style</th>
                <td>{{ player.battingstyle }}</td>
              </tr>
              <tr>
                <th>Bowling Style</th>
                <td>{{ player.bowlingstyle }}</td>
              </tr>
              <tr>
                <th>Debut</th>
                <td>{{ player.debut | date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 col-sm-6 d-block col-lg-6">
      <div class="text-lg-start text-center pt-2 text-black ps-lg-2">
        <h2>2024</h2>
        <div class="information">
          <table class="table text-black table-lg-borderless">
            <thead>
              <tr>
                <th>Matches</th>
                <td id="BilalMatches">
                  {{ player.yearlyTotalMatches }}
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Runs</th>
                <td id="BilalScore">{{ player.yearlyTotalRuns }}</td>
              </tr>
              <tr>
                <th>Balls</th>
                <td id="BilalBalls">{{ player.yearlyTotalBalls }}</td>
              </tr>
              <tr>
                <th>Average</th>
                <td id="BilalAvg">
                  {{ player.yearlyAverage }}
                </td>
              </tr>
              <tr>
                <th>Strike Rate</th>
                <td id="BilalStrike">{{ player.yearlyStrikeRate }}</td>
              </tr>
              <tr>
                <th>Highest</th>
                <td id="BilalHighest">{{ player.yearlyHighest }}</td>
              </tr>
              <tr>
                <th>50s/100s</th>
                <td id="BilalFifties">
                  {{ player.yearlyFifties }}/{{ player.yearlyHundrend }}
                </td>
              </tr>
              <tr>
                <th>Wickets</th>
                <td id="BilalWicket">{{ player.yearlyWickets }}</td>
              </tr>
              <tr>
                <th>Last Four Matches</th>
                <td id="BilalLastFour">
                  {{ player.scores.lastfour }} =
                  {{ this.player.totalLastFourRuns }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Career data starts here -->
<div class="col m-lg-5 m-auto" *ngIf="player">
  <div class="text-lg-start text-center pt-2 text-black ps-lg-2">
    <h2>Career</h2>
    <div class="information">
      <table class="table text-black table-lg-borderless">
        <thead>
          <tr>
            <th>Matches</th>
            <td id="BilalCareerMatches">
              {{ player.careerTotalMatches }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Runs</th>
            <td id="BilalCareerScore">{{ player.careerTotalRuns }}</td>
          </tr>
          <tr>
            <th>Balls</th>
            <td id="BilalCareerBalls">
              {{ player.careerTotalBalls }}
            </td>
          </tr>
          <tr>
            <th>Average</th>
            <td id="BilalCareerAvg">
              {{ player.careerAverage }}
            </td>
          </tr>
          <tr>
            <th>Strike Rate</th>
            <td id="BilalCareerStrike">{{ this.player.careerStrikeRate }}</td>
          </tr>
          <tr>
            <th>Highest</th>
            <td id="BilalCareerHighest">{{ this.player.careerHighest }}</td>
          </tr>
          <tr>
            <th>50s/100s</th>
            <td id="BilalCareerFifties">
              {{ player.careerFifties }}/{{ player.careerHundrends }}
            </td>
          </tr>
          <tr>
            <th>Wickets</th>
            <td id="BilalCareerWicket">{{ player.careerWickets }}</td>
          </tr>
          <tr>
            <th>Ranking</th>
            <td id="BilalCareerWicket">{{ player.scores.career.ranking }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Career ends here -->
<!-- Profile Section ends here -->
