<!-- Profile Section Starts here -->
<div class="container-fluid m-0 p-0 profo" *ngIf="player">
  <div class="row">
    <div class="col-12 profile">
      <div class="imgdiv">
        <img [src]="player.image" alt=" of Bilal" />
      </div>
      <div class="name">
        <h3>{{ player.name }}</h3>
        <h6>{{ player.role }}</h6>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center">
    <div class="col-lg-6 col-12 col-sm-6 d-block">
      <div class="text-lg-start text-center pt-2 text-black ps-lg-2">
        <!-- <h5>Personal Information</h5> -->
        <div class="information">
          <table class="table text-black">
            <thead>
              <h3>Personal Information</h3>
              <tr>
                <th>Born</th>
                <td>{{ player.born }}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Birth Place</th>
                <td>{{ player.birthplace }}</td>
              </tr>
              <tr>
                <th scope="row">Role</th>
                <td scope="row">{{ player.role }}</td>
              </tr>
              <tr>
                <th scope="row">Batting Style</th>
                <td scope="row">{{ player.battingstyle }}</td>
              </tr>
              <tr>
                <th scope="row">Bowling Style</th>
                <td scope="row">{{ player.bowlingstyle }}</td>
              </tr>
              <tr>
                <th scope="row">Debut</th>
                <td scope="row">{{ player.debut }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 col-sm-6 d-block col-lg-6">
      <div class="text-lg-start text-center pt-2 text-black ps-lg-2">
        <div class="information">
          <table class="table text-black table-lg-borderless">
            <thead>
              <h2>2023</h2>
              <tr>
                <th>Matches</th>
                <td id="BilalMatches">
                  {{ player.scores.runs.length }}
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Runs</th>
                <td id="BilalScore">{{ player.scores.runs }}</td>
              </tr>
              <tr>
                <th scope="row">Balls</th>
                <td scope="row" id="BilalBalls"></td>
              </tr>
              <tr>
                <th scope="row">Average</th>
                <td scope="row" id="BilalAvg"></td>
              </tr>
              <tr>
                <th scope="row">Strike Rate</th>
                <td scope="row" id="BilalStrike"></td>
              </tr>
              <tr>
                <th scope="row">Highest</th>
                <td scope="row" id="BilalHighest"></td>
              </tr>
              <tr>
                <th scope="row">50s/100s</th>
                <td scope="row" id="BilalFifties"></td>
              </tr>
              <tr>
                <th scope="row">Wickets</th>
                <td scope="row" id="BilalWicket"></td>
              </tr>
              <tr>
                <th scope="row">Last Four Matches</th>
                <td scope="row" id="BilalLastFour"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Career data starts here -->
<div class="col m-lg-5 m-auto">
  <div class="text-lg-start text-center pt-2 text-black ps-lg-2">
    <div class="information">
      <table class="table text-black table-lg-borderless">
        <thead>
          <h2>Career</h2>
          <tr>
            <th>Matches</th>
            <td id="BilalCareerMatches"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Runs</th>
            <td id="BilalCareerScore"></td>
          </tr>
          <tr>
            <th scope="row">Balls</th>
            <td scope="row" id="BilalCareerBalls"></td>
          </tr>
          <tr>
            <th scope="row">Average</th>
            <td scope="row" id="BilalCareerAvg"></td>
          </tr>
          <tr>
            <th scope="row">Strike Rate</th>
            <td scope="row" id="BilalCareerStrike"></td>
          </tr>
          <tr>
            <th scope="row">Highest</th>
            <td scope="row" id="BilalCareerHighest"></td>
          </tr>
          <tr>
            <th scope="row">50s/100s</th>
            <td scope="row" id="BilalCareerFifties"></td>
          </tr>
          <tr>
            <th scope="row">Wickets</th>
            <td scope="row" id="BilalCareerWicket"></td>
          </tr>
          <!-- <tr>
              <th scope="row">Team Awesome Ranking</th>
              <td scope="row" >1</td> 
            </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Career ends here -->
<!-- Profile Section ends here -->
