<!-- MOm section -->

<div class="container-fluid mt-5 mom-container">
  <div class="row">
    <div class="col text-center text-success fw-bold fs-6 d-block pt-4">
      <h3 class="text-white pb-3">Man Of the Match</h3>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6 text-center">
      <img
        src="{{ momData.image }}"
        alt="mom-image"
        class="mom-image rounded"
      />
    </div>
    <div class="col-md-6">
      <h3 class="text-white d-none d-md-block">Man Of the Match</h3>
      <h2 class="text-white text-center text-md-start">{{ momData.name }}</h2>
      <p class="text-white mom-para">
        {{ momData.paragraph }}
      </p>
    </div>
  </div>
</div>

<!-- MOm ends section -->
