/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(66, 66, 66, 0.3);
  border-radius: 5px;
  background-color: var(--black);
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: var(--black);
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(66, 66, 66, 0.3);
  background-color: var(--primary-red);
}
.profo {
  overflow-x: hidden;

  width: 100vw;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 3px;
}
.imgdiv img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid blue;
  padding: 3px;
}
.name {
  text-align: center;
}
th {
  text-align: left;
}
@media (max-width: 767px) {
  .table {
    border: 1px solid rgb(2, 180, 59);
  }
}
