<!-- Contact section with Map Section -->
<section>
  <div class="container-fluid border-4">
    <div class="row gy-3 my-5">
      <div
        class="col-12 text-center text-success fw-bold fs-6 text-decoration-underline"
      >
        <h3 data-aos="fade-up">Contact Us</h3>
      </div>
    </div>
    <div class="row gy-3 my-3">
      <div class="col-md-6 map-responsive" data-aos="zoom-in">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3303.4536403320535!2d74.67844781430941!3d34.10913442217907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e19980386ff857%3A0xbf653da2ea6de8c9!2sSozeith%20Playground!5e0!3m2!1sen!2sin!4v1679391648160!5m2!1sen!2sin"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          title="frame-map"
        ></iframe>
      </div>
      <div class="col-md-6">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="row mt-5 mt-md-0">
            <div class="col-md-9">
              <div class="row mb-4">
                <div class="col-md-6 mb-4 mb-md-0">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="firstName"
                      formControlName="firstName"
                      class="form-control"
                      required
                    />
                    <label class="form-label" for="firstName">First name</label>
                    <div
                      *ngIf="
                        contactForm.get('firstName')?.touched &&
                        contactForm.get('firstName')?.invalid
                      "
                      class="text-danger"
                    >
                      First name is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-outline">
                    <input
                      type="email"
                      id="email"
                      formControlName="email"
                      class="form-control"
                      required
                    />
                    <label class="form-label" for="email">Email Address</label>
                    <div
                      *ngIf="
                        contactForm.get('email')?.touched &&
                        contactForm.get('email')?.invalid
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="contactForm.get('email')?.errors?.['required']"
                      >
                        Email is required.
                      </div>
                      <div *ngIf="contactForm.get('email')?.errors?.['email']">
                        Enter a valid email address.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="subject"
                  formControlName="subject"
                  class="form-control"
                />
                <label class="form-label" for="subject">Subject</label>
              </div>
              <div class="form-outline mb-4">
                <textarea
                  id="message"
                  formControlName="message"
                  class="form-control"
                  rows="4"
                  required
                ></textarea>
                <label class="form-label" for="message">Message</label>
                <div
                  *ngIf="
                    contactForm.get('message')?.touched &&
                    contactForm.get('message')?.invalid
                  "
                  class="text-danger"
                >
                  Message is required.
                </div>
              </div>
              <div class="text-center text-md-start">
                <button
                  type="submit"
                  class="btn btn-primary mb-5 mb-md-0 pe-5 ps-5"
                >
                  Send
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Contact section with Map section -->
